<footer class="footer">
  <p>Copyright (C) 2020 <a href="http://www.suzannejmatthews.com/">Suzanne J. Matthews</a>, <a href="https://www.cs.swarthmore.edu/~newhall/">Tia Newhall</a>, and <a href="https://www.cs.swarthmore.edu/~kwebb/">Kevin C. Webb</a>.</p>

  <p><i>Dive Into Systems</i> is licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">Attribution-NonCommercial-NoDerivs 2.0 Generic</a> (CC BY-NC-ND 2.0).</p>
</footer>
