<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{or uiRootPath themeRootPath}}/js/vendor/lunr.js"></script>
<script>antoraLunr.init("{{uiRootPath}}/../search_index.json")</script>
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
